/* box */
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* end of box */

/*nav*/
ul{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

ul li{
    flex: 1 0 auto;
    text-align: center;
    list-style-type: none;
    background-color: #CED0CE,
}

li a{
    text-decoration: none!important;
    display: block;
    padding: 5px;
    color: #2D3142;
}

li a{
    color: white;
    background-color: #F15025;
    color: #2D3142;
}

/* end of nav */


body{

    font-family: "Times New Roman", cursive;

}

header{
    height: 100vh;
    background: url(building.jpg) fixed; 
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;

}

.banner-center{
    height: 100vh;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 75px;

}

.banner-center h1{
    font-size: 150px;
}

.banner-underline{
    width: 300px;
    border: 3px solid #F15025;
    margin: 0px auto 40px auto;

}

.btn-holder{
    display: flex;
    justify-content: center;

}

.white-btn, 
.navy-btn{
    color: whitesmoke;
    font-size: 30px;
    margin: 0 30px;
    text-decoration: none!important;
    border-radius: 20px;
    padding: 10px 30px;
}


.navy-btn{
    border: 3px solid #353531;
    background-color: #2D3142;
       
}

.white-btn{
    border: 3px solid whitesmoke;

}

.white-btn hover, 
.white-btn focus{
    color: #F15025;
    background-color: whitesmoke;

}

/* end of banner */

/* title */

.title{
    margin: 20px 0 40px 0;
}

.title-underline{
    width: 150px;
    border: 3px solid #F15025;
    margin: 0px auot 10px auto;
}

/* end of title */

/* qualities section */
#qualities h2{
    margin-bottom: 20px;
}

#qualities{
    background-color: #CED0CE;
    padding: 40px;
}

/* end of qualities section */

/* projects */
#projects {
    padding: 20px 0 0 0;
    background-color: #2D3142;
    color: whitesmoke;

}

.left{
    padding-left: 0;
}

.right{
    padding-right: 0;
}
/* end of projects section */

/* contact section */
#contact{
    padding:40px;
    background-color: whitesmoke;

}

#contact .form-control{
    border-radius: 0;
    font-size: 20px;
}

#contact button{
    background-color: #353531;
    font-size: 24px;
    color: whitesmoke;
    margin-bottom: 20px;

}

#contact button hover{
    background-color: #CED0CE;
 
}


/* end of contact section */

/* footer */
#footer{
    padding: 40px;
    color: whitesmoke;
    background-color: #353531;

}

#footer h2{
    margin-bottom: 20px;
}

#footer p{
    font-size: 20px;
}

#footer .websites a{
    text-decoration: none!important;
    color: #F15025;
    font-size:20px;
}

#footer .websites a hover{
    color: #CED0CE;
}

#footer hr {
    background-color: whitesmoke;
}

.lower-row {
    margin-top: 40px;
}

#footer .footer-icons{
    font-size: 20px;
}

#footer .footer-icons a{
    color: #909090;
    text-decoration: none;
}

#footer .footer-icons a hover{
    color: whitesmoke;
}

#footer .copyrights h3{
    color: #CED0CE;

}

/* end of footer section*/


/* media */
@media screen and (max-width:800px){
    .banner-center h1{
        font-size: 60px;
    }
}


@media screen and (max-width:576px)
{
    #projects .row{
        display: flex;
        flex-direction: column;
    }

    .item-1{
        order: 1;
    }

    .item-2{
        order: 2;
    }
    .item-3{
        order: 3;
    }
    .item-4{
        order: 4;
    }
    .item-5{
        order: 5;
    }
    .item-6{
        order: 6;
    }
}
/* end of media */